<html>
<head><title>Welcome to Irisdata Example</title></head>
<body align='center' bgcolor = 'grey'>

<form method='post'>
<table align = 'center' bgcolor = ' #f0a594 '>
<tr><td>
<table align='center' bgcolor = 'grey'>
<tr><td colspan = 2><h3 style="background-color:DodgerBlue;">Please Enter iris flower features</h3></td></tr>
<tr><td>Enter Petal Length</td><td><input type='text' name = 'num1' value = "{{num1}}"</td></tr>
<tr><td>Enter Petal Width</td><td><input type='text' name = 'num2' value = "{{num2}}"</td></tr>
<tr><td>Enter Sepal Length</td><td><input type='text' name = 'num3' value = "{{num3}}"</td></tr>
<tr><td>Enter Sepal width</td><td><input type='text' name = 'num4' value = "{{num4}}"</td></tr>
<tr><td colspan = 2><input type='submit' value ='Predict Iris'> </td></tr>
</table>
</td></tr>
<tr><td>
<table align = 'center'>
<tr><td colspan=2><p align='center'>Prediction of iris data set is :{{result}}</p></td></tr>
<tr><td colspan=2><img src={{pic}}></td></tr>
</table>
</td></tr>
</table>

</form>
</body>

</html>